@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&family=Roboto:wght@400;500&family=Sarabun:wght@800&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.show-mobile{
    display:none;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6em;
}
.container .nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:5.8em 8em;
}
.container .nav .logo{
    position: relative;
}

.container .nav .logo a{
    font-family: 'Montserrat', sans-serif;
font-size: 3em;
font-weight: 700;
color: #171717;
text-transform: uppercase;
text-decoration: none;
}
.nav ul a:hover{
 background:#ff4200;
 color:#fff;
}
.nav ul a{
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.35em;
    margin:0 1.2em;
    padding: 4em .8em;
    color:#000;
    font-weight: 600;
    transition:300ms;
}
.nav ul a:first-of-type{
     background:#ff4200;
 color:#fff;
}
.container .nav .logo span:last-of-type{
    color: #ff4200;
}
.container .nav .logo span:first-of-type {
    position: absolute;
    top: 0;
    left: -.5rem;
    color: #ff4200;
    z-index: -1;
}
.headerbg{
    position: absolute;
     /* top: 0; */
    bottom: 0;right: -50px;
    /* z-index: -1; */
}
.section1{
    height: 100vh;
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background:url(./images/main_slider_1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin:0 8em;
}
.section1 .content1{
    width:60%;
    margin:0 5em;
}
.section1 .content1 p{
  font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-bottom: 22px;
    color: var(--orange);
    display: inline-block;
    margin-bottom: 2em;
    position: relative;
     color:#fff;
     line-height: 1.5em;
}
.section1 .content1 h2{
        font-size: 1.2rem;
        font-weight: lighter;
    color: #000000;
    font-family: "Roboto", sans-serif;
    margin-bottom: 50px;
    width: 75%;
    line-height: 1.6em;
}
.section1 .content1 h1{
      font-size: 8.5em;
    font-weight: 800;
    margin-bottom: 14px;
    color: #fff;
    font-family: "Sarabun", sans-serif;
    line-height: 1.2;
    margin-bottom: 33px;
}
.btn2{
color: #FFFFFF;
font-size: 1.3em;
font-weight: 300;
line-height: 66px;
text-transform: uppercase;
letter-spacing: 6.7px;
background:#ff4200;
border:none;
padding: 0 1.5em;
}
.container .socialLink{
    background:#ff4200;
    padding:2em 5em;
    position: absolute;
    top: 0;
    right: -6em;
}
.container .socialLink i{
    font-size: 2.5em;
    padding:.8em 0.5em;
    color:#fff;
    transition: color 300ms;
}
.container .socialLink i:hover{
    color:#fff;
}

.section2 .content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:90%;
    grid-gap: 3em;
    text-align: center;

    margin:10em auto;
}
.section2 .content .designs h2{
    font-size: 2.3em;
    margin:1em 0;
    text-transform: uppercase;
    letter-spacing: .25em;
}
.section2 .content .designs p{
    font-size: 1.6em;
    margin:1em 0;
    line-height: 1.6em;
}
.section2 .content .designs img{
    margin:1em 0;
    max-width:100%;
}
.section3{
    background:url(./images/about_background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;  padding-top: 19.5em;
padding-bottom: 17.5em;
width:90%;
margin:0 auto;
}
.section3 .content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 4em;
    width:90%;
    margin:0 auto;
  
}
.section3 h1{
    display:block;
position: relative;
font-weight: 600;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #FFFFFF;
line-height: 1.35;
margin-bottom: 5em;
font-size: 3em;
text-align: center;
}
.section3 h1 span{
    display: block;
position: absolute;
top: 50%;
left: 50%;;
transform: translate(-50%, -50px);
font-size: 72px;
font-weight: 900;
color: #ff0000;
opacity: 0.32;
}
.section3 h1::before{
    display: block;
position: absolute;
bottom: 6.1rem;
left: 50%;
transform: translateX(calc(-50% - 4px));
width: .3rem;
height: 4.5rem;
content: '';
background: #FFFFFF;
}
.section3 .content p{
    font-family: 'Open Sans', sans-serif;
    color:#fff;
font-size: 1.8em;
line-height: 2;
}
.section3 .content .progressBars{
    display:grid;
}
.section3 .content .progressBar{
    width:100%;
    height:4px;
    background: #f4f4f4;
}
.section3 .content .progressBar p{
    font-size: 1.3em;
    padding: 1em 0;
}
.section3 .content .progressBar .progress1{
    width: 80%;
    height: 4px;
    background:#ff4200;
}
.section3 .content .progressBar .progress2{
    width: 100%;
    height: 4px;
    background:#ff4200;
}
.section3 .content .progressBar .progress3{
    width: 90%;
    height: 4px;
    background:#ff4200;
}
.section3 .content .progressBar .progress4{
    width: 75%;
    height: 4px;
    background:#ff4200;
}
.section3 .div{
    position: absolute;
    top: 0;
}
.percent1, .percent2, .percent3, .percent4 {
    display:flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size:1em;
}
.percent1{
    width:80%
}
.percent2{
    width:100%
}
.percent3{
    width:90%
}
.percent4{
    width:75%
}
.section4 {
    width:90%;
    margin:0 auto;
    background:url(./images/services_background.jpg);
    background-size:cover;
    background-position: center;
    text-align: center;
    padding-bottom: 8em;
}
.section4 .content{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 4em;
    place-items: center;
    padding:20em 3em;
    padding-bottom: 10em;
    text-align: left;
}
.section4 .content .designs h2{
    font-size: 2.3em;
    margin:2em 0;
    text-transform: uppercase;
    letter-spacing: .25em;
    color:#Fff;

}
.section4 .content .designs p{
    font-size: 1.6em;
    margin:1em 0;
    line-height: 1.6em;
    color:#Fff;
}
.section4 .content .designs img{
    margin:1em 0;
    max-width:100%;
}
.section4 .btn2{
    padding:.6em 3em;
}
.section5{
    padding-top:12em;
}
.section5 .content{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 4em;
    width:80%;
    margin:0 auto;
    padding:4em 0;
}
.section5 .img{
    margin:0 auto;
    width:80%;
    margin-bottom: 5em;
}
.section5 .img img{
   filter: opacity(30%) grayscale(100%);
   transition:filter 0.3s;
}
.section5 .img img:hover{
   filter: opacity(100%) grayscale(0);
}
.section5 h1{
    display:block;
position: relative;
font-weight: 600;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
line-height: 1.35;
margin-bottom: 5em;
font-size: 3em;
text-align: center;
}
.section5 h1 span{
    display: block;
position: absolute;
top: 50%;
left: 50%;;
transform: translate(-50%, -50px);
font-size: 72px;
font-weight: 900;
color: #ff0000;
opacity: 0.32;
}
.section5 h1::before{
    display: block;
position: absolute;
bottom: 6.1rem;
left: 50%;
transform: translateX(calc(-50% - 4px));
width: .3rem;
height: 4.5rem;
content: '';
background: #ff0000;
}
.section5 .content p{
    font-family: 'Open Sans', sans-serif;
    color:#6e6e6e;
font-size: 1.8em;
line-height: 2;
}
footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2em 2em;
    border-top: 0.005em solid var(--cyan);
    background:#262626;
    color:#fff;font-size: 1.8em;
    line-height: 1.8em;
        width:90%;
    margin:0 auto;
}
footer .socials .fab{
    color:rgb(121, 107, 107);
    transition: color 300ms;
}
footer .socials .fab:hover{
    color:#Fff;
}
.footer{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
}
footer .socials {
    margin:1em auto;
    font-size: 2em;
}
footer .socials i{
    padding:0 .2em;
}
.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
    cursor: pointer;
    font-weight: bold;
    color:#000;
    z-index: 3000;
  }

@media only screen and (max-width:768px){
html{
    font-size: 55%;
}
    .menu{
        color:#ff4200;
        margin-left: 5px;
        font-size: 3em;
    }
    .show-mobile{
        display: block;
    }li{
      list-style: none;
      margin:0 auto;
  }
      .menu-items {
    display: block;
  }
  .nav{
      display:flex;
      justify-content: space-around;
      align-items: center;
      padding:1em;
      position:fixed;
      top: 0;
      left: 0;right: 0;
      box-sizing: border-box;
      background:#fff;
      z-index: 100;
  }
 #nav {
    transition: 0.6s;
    width: 0;
  }
  .nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: #fff;
    height: 100%;
    padding: 3em 0 0 0;
    text-align: center;
    z-index: 5;
  }
  .nav ul a {
    color: #000;
    padding: 1em 0em;
    display: block;
    transition: 0.5s; z-index: 7;
    margin:0;
  }
  .nav ul a:hover {
    color: #fff;
    background:#ff4200;
}
.nav{
    padding: 2rem 1rem;
    justify-content: space-between;
}
.container .nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0
}

.headerbg{
    position: absolute;
    display:none;
     /* top: 0; */
    bottom: 0;right: -50px;
    /* z-index: -1; */
}
.section1{
    height: 100%;
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background:url(./images/main_slider_1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin:0;
}
.section1 .content1{
    width:100%;
    margin:8em 2em;
    margin-top: 15rem;
}
.section1 .content1 p{
  font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-bottom: 22px;
    color: var(--orange);
    display: inline-block;
    margin-bottom: 2em;
    position: relative;
     color:#fff;
     line-height: 1.5em;
}
.section1 .content1 h2{
        font-size: 1.2rem;
        font-weight: lighter;
    color: #000000;
    font-family: "Roboto", sans-serif;
    margin-bottom: 50px;
    width: 75%;
    line-height: 1.6em;
}
.section1 .content1 h1{
      font-size: 3.5em;
    font-weight: normal;
    margin-bottom: 14px;
    color: #fff;
    font-family: "Sarabun", sans-serif;
    line-height: 1.2;
    margin-bottom: 33px;
}
.btn2{
color: #FFFFFF;
font-size: 1.3em;
font-weight: 300;
line-height: 66px;
text-transform: uppercase;
letter-spacing: 6.7px;
background:#ff4200;
border:none;
padding: 0 1.5em;
}
.container .socialLink{
    display: none;
}
.section2 .content{
    display: grid;
    grid-template-columns: 1fr;
    width:90%;
    grid-gap: 3em;
    text-align: center;

    margin:10em auto;
}
.section2 .content .designs h2{
    font-size: 2.3em;
    margin:1em 0;
    text-transform: uppercase;
    letter-spacing: .25em;
}
.section2 .content .designs p{
    font-size: 1.8em;
    margin:1em 0;
    line-height: 1.6em;
}
.section2 .content .designs img{
    margin:1em 0;
    max-width:100%;
}
.section3{
    background:url(./images/about_background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;  padding-top: 19.5em;
padding-bottom: 17.5em;
width:100%;
margin:0 auto;
}
.section3 .content{
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 4em;
    width:90%;
    margin:0 auto;
  
}
.section3 h1{
    display:block;
position: relative;
font-weight: 600;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #FFFFFF;
line-height: 1.35;
margin-bottom: 5em;
font-size: 3em;
text-align: center;
}
.section3 h1 span{
    display: block;
position: absolute;
top: 50%;
left: 50%;;
transform: translate(-50%, -50px);
font-size: 72px;
font-weight: 900;
color: #ff0000;
opacity: 0.32;
}
.section3 h1::before{
    display: block;
position: absolute;
bottom: 6.1rem;
left: 50%;
transform: translateX(calc(-50% - 4px));
width: .3rem;
height: 4.5rem;
content: '';
background: #FFFFFF;
}
.section3 .content p{
    font-family: 'Open Sans', sans-serif;
    color:#fff;
font-size: 1.8em;
}
.section3 .content .progressBars{
    display:grid;
    grid-gap: 2em;
}
.section3 .content .progressBar{
    width:100%;
    height:4px;
    background: #f4f4f4;
    box-sizing: border-box;
    margin-bottom: 2em;
}
.section3 .content .progressBar p{
    font-size: 1.3em;
    padding: 1em 0;
}
.section3 .content .progressBar .progress1{
    width: 80%;
    height: 4px;
    background:#ff4200;
}
.section3 .content .progressBar .progress2{
    width: 100%;
    height: 4px;
    background:#ff4200;
}
.section3 .content .progressBar .progress3{
    width: 90%;
    height: 4px;
    background:#ff4200;
}
.section3 .content .progressBar .progress4{
    width: 75%;
    height: 4px;
    background:#ff4200;
}
.section3 .div{
    position: absolute;
    top: 0;
}
.percent1, .percent2, .percent3, .percent4 {
    display:flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size:1em;
}
.percent1{
    width:80%
}
.percent2{
    width:100%
}
.percent3{
    width:90%
}
.percent4{
    width:75%
}
.section4 {
    width:100%;
    margin:0 auto;
    background:url(./images/services_background.jpg);
    background-size:cover;
    background-position: center;
    text-align: center;
    padding-bottom: 8em;
}
.section4 .content{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 4em;
    place-items: center;
    padding:20em 3em;
    padding-bottom: 10em;
    text-align: left;
}
.section4 .content .designs h2{
    font-size: 2.3em;
    margin:2em 0;
    text-transform: uppercase;
    letter-spacing: .25em;
    color:#Fff;

}
.section4 .content .designs p{
    font-size: 1.6em;
    margin:1em 0;
    line-height: 1.6em;
    color:#Fff;
}
.section4 .content .designs img{
    margin:1em 0;
    max-width:100%;
}
.section4 .btn2{
    padding:.6em 3em;
}
.section5{
    padding-top:10em;
}
.section5 .content{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 4em;
    width:90%;
    margin:0 auto;
    padding:2em 0;
}
.section5 .img{
    margin:0 auto;
    width:50%;
    margin:0 auto;
}
.section5 .img img{

   filter: opacity(30%) grayscale(100%);
   transition:filter 0.3s;
}
.section5 .img img:hover{
   filter: opacity(100%) grayscale(0);
}
.section5 h1{
    display:block;
position: relative;
font-weight: 600;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
line-height: 1.35;
margin-bottom: 3em;
font-size: 3em;
text-align: center;
}
.section5 h1 span{
    display: block;
position: absolute;
top: 50%;
left: 50%;;
transform: translate(-50%, -50px);
font-size: 72px;
font-weight: 900;
color: #ff0000;
opacity: 0.32;
}
.section5 h1::before{
    display: block;
position: absolute;
bottom: 6.1rem;
left: 50%;
transform: translateX(calc(-50% - 4px));
width: .3rem;
height: 4.5rem;
content: '';
background: #ff0000;
}
.section5 .content p{
    font-family: 'Open Sans', sans-serif;
    color:#6e6e6e;
font-size: 1.8em;
line-height: 2;
}
footer{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:2em 2em;
    border-top: 0.005em solid var(--cyan);
    background:#000000;
    color:#fff;font-size: 1.6em;
    line-height: 1.8em;
        width:100%;
    margin:0 auto;
    text-align: center;
}
footer .socials .fab{
    color:rgb(121, 107, 107);
    transition: color 300ms;
}
footer .socials .fab:hover{
    color:#Fff;
}
.footer{
    display:flex;
  flex-direction: column;
    align-items:center;
    width:100%;
}
footer .socials {
    margin:1em auto;
    font-size: 2em;
}
footer .socials i{
    padding:0 .2em;
}
}